.label {
    text-align: left;
    font-weight: bold;
    color:rgb(54, 54, 54);
}

.actionButton {
    min-width: 18px;
    cursor: pointer;
}

.input {
    font-size: 16px;
    padding: 4px 6px;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 4px;
    outline: none;
}

.fieldContainer {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
