.field {
    display: flex;
    flex-direction: column;
}

.inlineField {
    /* align-items: center; */
    column-gap: 8px;
}

.blockField {
    flex-direction: column;
    align-items:flex-start;
}

.value {
    text-align: left;
}