.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.AppHeader {
  background-color: #fafcff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(59, 59, 59);
}

.App-link {
  color: #09d3ac;
}

.outerDiv {
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.deleteButton {
  cursor: pointer;
}
