.noPaddings {
    padding: 0px !important;
}

.tdTourNumber {
    width: 50px;
    border-bottom: none !important;
    padding: 0px !important;
}

.tdTourNumber:first-of-type {
    border-left: none;
}
  .tdTourNumber:last-of-type {
    border-right: none;
}

.tdToursContainer {
    border: none;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    
}

.tdTourContainer {
    border-collapse: collapse;
    border-spacing: 0;
    
}

.fullWidthElement {
    width: 100%;
}

.tdTourData {
    min-width: 50px;
    max-width: 50px; 
    border: none !important;
    border-right: 1px solid #4268c0 !important;
    padding: 0px !important;
}

.tdTourData:last-of-type {
    border-right: none !important;
}

.tdCompetitorNum {
    min-width: 15px;
    max-width: 15px;
    border: none !important;
}

.tdScore {
    font-weight: bold;
    width: 25px;
    font-size: 18px;
    text-align: center;
    border: none !important;
    border-left: 1px solid #4268c0 !important;
}

.tdScore:first-of-type {
    border-left: none;
}
.tdScore:last-of-type {
    border-right: none;
}
