.playersList {
    /* position: relative; */
    display: grid;
    row-gap: 12px;
    width: 100%;
    /* border: 2px solid rgb(93, 154, 238);
    border-radius: 4px; */
}

.row {
    display: grid;
    column-gap: 18px;
    grid-template-columns: 4fr 2fr 1.5fr 1fr 1.5fr 1fr 1fr;   
    align-items: center;
    justify-items: center;
    color: rgb(54, 54, 54);
    padding: 6px;
    border: 2px solid rgb(93, 154, 238);
    border-radius: 4px;
}

.header {
    /* position: fixed; */
    width: 100%;
    font-weight: bold;
    background-color: rgb(231, 241, 255);
}

.playersContainer {
    display: grid;
    row-gap: 12px;
    /* margin-top: 72px; */
}

/* .playersListHeader{
    height: 36px;
} */

/* .playerItem {
    padding: 6px 0px;
    border: 2px solid rgb(93, 154, 238);
    border-radius: 4px;
} */


.button {
    cursor: pointer;
}
