.form {
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
}

.input {
    width: 100%;
}

.playersListContainer {
    max-height: 510px;
    margin-top: 16px;
    padding-right: 12px;
    overflow-y: auto;
    overflow-x: hidden;
}

