@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/*ัะท*/
.outerDivGame {
  display: flex;
  justify-content: center;
}

.game {
  background-color: rgb(246, 247, 247);
  height: 30px;
  margin: 10px;
  padding: 0px 8px;
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0px -1px 11px 0px rgba(112, 112, 112, 1);
  border-radius: 5px;
  align-items: center;
}

.playerName {
    width: 350px;
}

.scoreContainer {
  width: 50px;
}

.but {
  width: 75px;
  height: 25px;
  margin-left: 20px;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
  border: 1px solid grey;
}

.but:hover {
  background-color: rgb(201, 201, 202);
}

.clicked {
  background-color: rgb(114, 113, 113);
}

.select {
  width: 50px;
  height: 100%;
  border-radius: 5px;
}

.tour {
  font-size: 24px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}


.checkersImage {
    width: 20px;
    height: 14px;
}

.actionsContainer {
  display: flex;
  column-gap: 8px;
  margin-left: 24px;
}

.actionButton {
  cursor: pointer;
}

