.button {
    background-color: rgb(218, 218, 218);
    border: 0;
    padding: 5px;
    border-radius: 5px;
    margin: 25px 5px;
    -webkit-box-shadow: 0px 6px 11px 1px rgba(204, 204, 204, 0.79);
    -moz-box-shadow: 0px 6px 11px 1px rgba(204, 204, 204, 0.79);
    box-shadow: 0px 6px 11px 1px rgba(204, 204, 204, 0.79);
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgb(179, 179, 179);
}

.buttonBlack {
    background-color: rgb(73, 72, 72);
    color: white;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    margin: 25px 5px;
    -webkit-box-shadow: 0px 6px 11px 1px rgba(204, 204, 204, 0.79);
    -moz-box-shadow: 0px 6px 11px 1px rgba(204, 204, 204, 0.79);
    box-shadow: 0px 6px 11px 1px rgba(204, 204, 204, 0.79);
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonBlack:hover {
    background-color: rgb(8, 8, 8);
}

.buttonCute {
    background: #fff;
    width: 285px;
    display: block;
    height: 33px;
    /* padding-top: 19px; */
    border: 1px solid #000;
    margin: 20px auto;
    font-family: 'Dosis', sans;
    font-size: 18px;
    font-weight: 200;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    -webkit-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -moz-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -o-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75); /* linear */
  
    -webkit-box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.44);
    cursor: pointer;
  }
  
  .buttonCute:hover {
    width: 300px;
    height: 33px;
    /* padding-top: 19px; */
    border: 1px solid teal;
    margin: 20px auto;
    opacity: 1;
    letter-spacing: 4px;
    -webkit-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -moz-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -o-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75); /* linear */
  }

.scrollBarContainer::-webkit-scrollbar {
    width: 10px;
}

.scrollBarContainer::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e9e9e9;
}


.scrollBarContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #5b8cff;
}