form input {
  height: 3vh;
}

/* form.blockInput label {
  display: block;
} */

.inputText {
  width: 400px;
  font-size: 16px;
}

.divOfPlayer {
  width: 150px;
  height: 30px;
  background-color: rgb(188, 231, 231);
  display: inline-block;
  margin-top: 10px;
  border-radius: 5%;
  font-weight: bold;
  -webkit-box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.44);
}

.divOfPlayer:hover {
  background-color: rgb(152, 202, 202);
}

.createButton {
  background: #fff;
  width: 285px;
  display: block;
  height: 33px;
  /* padding-top: 19px; */
  border: 1px solid #000;
  margin: 20px auto;
  font-family: 'Dosis', sans;
  font-size: 18px;
  font-weight: 200;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  opacity: 0.8;
  letter-spacing: 1px;
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75); /* linear */

  -webkit-box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.44);
}

.createButton:hover {
  width: 350px;
  height: 33px;
  /* padding-top: 19px; */
  border: 1px solid teal;
  margin: 20px auto;
  opacity: 1;
  letter-spacing: 4px;
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75); /* linear */
}

.labelText {
  font-size: 18px;
}
