@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.outer {
  width: 400px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 6px 11px 1px rgba(204, 204, 204, 0.79);
  -moz-box-shadow: 0px 6px 11px 1px rgba(204, 204, 204, 0.79);
  box-shadow: 0px 6px 11px 1px rgba(204, 204, 204, 0.79);
  /* animation: changeColor 2s infinite; */
}

/* @keyframes changeColor {
  0% {
    background-color: rgb(255, 255, 255);
  }
  100% {
    background-color: rgb(240, 240, 240);
  }
} */

.link:hover {
  font-weight: normal;
}

.link:hover .outer,
.link:hover .innerMain {
  background-color: rgb(240, 240, 240);
}

.deleteButton {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 35px;
  height: 35px;
}

.innerMain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 66%;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.innerEnd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 34%;
  align-items: center;
}

.link {
  display: inline-block;
  text-decoration: none;
}

.image {
  height: 75px;
  width: 75px;
  border-radius: 100%;
}

.title {
  font-size: 18px;
  color: rgb(83, 83, 83);
  display: block;
}

.more {
  font-size: 12px;
  color: rgb(133, 133, 133);
  margin: 2px 10px;
  display: block;
}

.mainDiv {
  width: 900px;
}

.buttons {
  background-color: rgb(218, 218, 218);
  border: 0;
  padding: 5px;
  border-radius: 5px;
  margin: 25px 5px;
  -webkit-box-shadow: 0px 6px 11px 1px rgba(204, 204, 204, 0.79);
  -moz-box-shadow: 0px 6px 11px 1px rgba(204, 204, 204, 0.79);
  box-shadow: 0px 6px 11px 1px rgba(204, 204, 204, 0.79);
}

.buttons:hover {
  background-color: rgb(179, 179, 179);
}

.buttonsEnd {
  background-color: rgb(73, 72, 72);
  color: white;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  margin: 25px 5px;
  -webkit-box-shadow: 0px 6px 11px 1px rgba(204, 204, 204, 0.79);
  -moz-box-shadow: 0px 6px 11px 1px rgba(204, 204, 204, 0.79);
  box-shadow: 0px 6px 11px 1px rgba(204, 204, 204, 0.79);
}

.buttonsEnd:hover {
  background-color: rgb(8, 8, 8);
}

/* Информация о турнире */

.AllOuter {
  display: flex;
  justify-content: center;
}

.outerOfTournament {
  background-color: rgb(247, 246, 246);
  width: 700px;
  /* height: 500px; */
  height: auto;
  border-radius: 10px;
  box-shadow: 0px -1px 11px 0px rgba(112, 112, 112, 1);
}

.info {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.infoPlayer {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.players {
  display: block;
  margin: 0px 40px;
  width: 50%;
  justify-content: center;
}

.lastName {
  display: inline;
}

.right,
.left {
  display: inline-flex;
  margin: 0px 40px;
  width: 50%;
  justify-content: center;
}

.butStart {
  background: #fff;
  width: 285px;
  display: block;
  height: 33px;
  /* padding-top: 19px; */
  border: 1px solid #000;
  margin: 20px auto;
  font-family: 'Dosis', sans;
  font-size: 18px;
  font-weight: 200;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75); /* linear */

  -webkit-box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.44);
}

.butStart:hover {
  width: 300px;
  height: 33px;
  /* padding-top: 19px; */
  border: 1px solid teal;
  margin: 20px auto;
  opacity: 1;
  letter-spacing: 4px;
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75); /* linear */
}
