.startContainer {
    /* max-width: 300px; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    row-gap: 12px;
}

.gamesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 32px;
}

.navigationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    margin-top: 24px;
}
  
.actionButton {
    font-size: 16px !important;
    font-weight: bold;
    width: 240px;
}

.state {
    margin-top: 16px;
}
