.button {
    background-color: transparent;
    outline: none;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 4px;
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
}

.blue {
    border: 2px solid #5b8cff;
    color: #4874d9;
}

.blue:hover:not(:disabled) {
    background-color: #5b8cff;
    color: #fff;
}

.blue:disabled {
    border: 2px solid #b7ccff;
    color: #b7ccff;
}

.green {
    border: 2px solid #3EB489;
    color: #3EB489;
}

.green:hover:not(:disabled) {
    background-color: #3EB489;
    color: #fff;
}