.modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(65, 65, 65, 0.47);
}

.contentContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10%;
    max-width: 900px;
}

.contentContainer > div, .contentContainer > form{
    position: relative;
}

.closeButton {
    position: absolute;
    font-size: 48px;
    color: #fff;
    z-index: 2;
    top: 9%;
    right: 13%;
    /* color: #fff; */
    /* top: -10%;
    right: -7%; */
}