.modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(65, 65, 65, 0.47);
}

.contentContainer {
    max-width: 900px;
    margin: 0 auto;
}