.loader {
    width: 30px;
}

.state {
    background-color: transparent;
    /* color: rgb(54, 54, 54); */
    color: #fff;
    padding: 4px 12px;
    border-radius: 4px;
}



.success {
    background-color: #3EB489;
}

.error {
    background-color: #E4717A;
}